<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cert_event_message">
        <observer name="cert_event_message" instance="Jundat\Cert\Observer\Message" shared="false" />
    </event>
</config>